{{if ActiveBook != null}}
	<h1>
		<span class="right range">1 <input id="rangeChapter" type="range" value="${ActiveChapter}" min="1" max="${ActiveBook.Chapters}" class="span5" style="height:10px;" /> ${ActiveBook.Chapters}</span>
		<span class="right no-range">
			<select id="cmbChapter" class="span2">
				{{each Chapters}}
					<option value="${Chapter}" {{if ActiveChapter == Chapter}}selected="selected"{{/if}}>Chapter ${Chapter}</option>
				{{/each}}
			</select>
		</span>
		${ActiveBook.Name} Chapter <span id="uxChapter"></span>
	</h1>
	<div id="uxVerses" class="scrollable">
	</div>
{{else}}
	<div class='message'><div>
		<span>Select a term from the left to get started.<br/><br/>
			-or-<br/><br/>
			{{if EditRights}}
				<a href="#" class="term-add">{{html App.ChooseIcon("new")}}Add New Term</a><br />
			{{/if}}
			<a href="${App.ResolveUrl('~/Glossary/Print/')}" target="_blank" title="Print All Terms">{{html App.ChooseIcon("pdfmulti")}}View/Print PDF of All Terms</a>
		</span>
	</div></div>
{{/if}}
