<div id="uxVerseDialogError" class="alert-message error none"></div>
<form id="frmVerseEdit" class="form-inline">
	<div class="control-group">
		<label class="control-label" for="txtVerseEditText">Verse</label>
		<div class="controls">
			<textarea id="txtVerseEditText" class="span9" rows="4">${Text}</textarea>
			<input type="hidden" id="hdnVerseEditId" value="${Id}" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="txtVerseEditNotes">Notes (if any)</label>
		<div class="controls">
			<textarea id="txtVerseEditNotes" class="span9" rows="8">${Notes}</textarea>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label>Translation <input id="txtVerseEditTranslation" class="span2" type="text" value="${TranslationId}" maxlength="5" /></label>
			<label><input type="checkbox" id="chkVerseEditModify" checked="checked" /> Update Modified Date</label>
		</div>
	</div>
</form>