/* ==|== primary styles =====================================================
   Author: Jorin Slaybaugh
   ========================================================================== */

html, body, input, select, textarea {font-family: 'Open Sans', sans-serif; color:#222;}
body { background: #eee url(../img/bg2.png) repeat; padding-top:50px;}

input[type=submit] {background:#efefef;}

.login-container .alert-message {width:440px;margin:auto;margin-bottom:10px;clear:both;}
.field-validation-error.alert-message {display:block;}
.field-validation-valid.alert-message {display:none;}

#lnk-more:link, #lnk-more:active, #lnk-more:visited, #lnk-more:hover {position:absolute;bottom:5px;right:10px;color:#fff;}

.left {float:left;}
.right {float:right;}

.center-align {text-align:center;}

.none {display:none;}
.inline-block {display:inline-block;}
.block {display:block;}
.table {display:table;}

.bold {font-weight:bold;}

.scrollable {overflow:scroll;-webkit-overflow-scrolling:touch;}
.module {-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:10px;box-shadow:0 0 10px #444;background:#f3f3f3;}

.message {display:table;height:100%;width:100%;vertical-align:middle;text-align:center;}
.message div {display:table-cell;height:100%;width:100%;vertical-align:middle;text-align:center;}
.message span {display:block;width:auto;margin-left:auto;margin-right:auto;text-align:center;font-weight:900;font-style:normal;font-size:larger;}

/* Glossary */

#ulTerms li {white-space:nowrap;margin-left:5px;border-bottom:#fff solid 1px;}

.inactive-link {color:#404040;text-decoration:none;}
.active-link {color:#0069D6;text-decoration:underline;}

/* Files */
img {vertical-align:bottom;}
.folders { list-style-type: none;margin-left:15px; padding: 0px; }
.folders li { margin: 0px;padding:0px;white-space:nowrap; }
.folder-expand {margin-left:-15px;display:inline-block;}
.folder-noexpand {margin-left:-15px;display:inline-block;visibility:hidden;}
.files { list-style-type: none;margin:5px; padding: 0px; }
.files li {padding:3px 0px 3px 0px;border:none;border-bottom:solid 1px #ddd;width:100%;overflow:hidden;text-overflow:ellipsis;}
/*.files a {font-size:larger;}*/
.file-info {font-size:10px;color:#999;font-weight:normal;}
.file-actions {font-size:10px;color:#666;font-weight:bold;text-transform:uppercase;float:right;}
/*
#uxFolders {width:250px;}
#uxFolders .box-content {overflow:auto;}
#uxFolders .box-content li {white-space:nowrap;}
#uxContents {width:620px;}
#uxContents .box-content {overflow:auto;}
#uxContents .box-content li {white-space:nowrap;}
*/

/* login stuff */


.church {font-family: 'Acme', Serif; font-size:54px;width:500px;margin:auto;margin-bottom:10px;text-align:center;font-weight:900;border-bottom:solid 1px #444;padding-bottom:5px;line-height:50px;}
.scripture {font-family: 'Acme', serif;font-size:18px;width:470px;margin:auto;margin-bottom:5px;text-align:justify;}
.login-container {margin:5% auto 0 auto;}
.login-bg {margin:auto;background:#333 url(../img/microphone.png) top left;width:470px;height:278px;position:relative;}
.login-contents {margin: 20px 0 0 10px;}
.login-contents label {width:80px;color:#ddd;font-weight:bold;text-align:left;}

.popover.right .arrow {
	top: 50%;
	left: -8px;
	margin-top: -15px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid black;
}

.popover.left .arrow {
	top: 50%;
	right: -8px;
	margin-top: -15px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid black;
}
.popover .content {padding:5px;}
.popover .inner {width:300px;}
.topbar {z-index:10;}

.ui-widget-overlay {
	background: #111;
	opacity: .80;
	filter: Alpha(Opacity=80);
}

.waiter-dark {height:16px;width:16px;display:inline-block;background:url("../img/ajax-loader-dark.gif") top center no-repeat;}
.waiter-light {height:21px;width:56px;display:inline-block;background:url("../img/ajax-loader-light.gif") top center no-repeat;}

.global-message {position:fixed;z-index:1000;bottom:0px;left:20px;right:20px;text-align:center;}
.global-message p {font-weight:bold;}

.search .hilite {display:inline-block;background-color:#ffface;border:solid 1px #ddd;margin-left:1px;margin-right:1px;font-weight:bold;}