<div>
	<ul class="unstyled lines">
		<li><a href="${App.ResolveUrl('~/Files/Open/' + Path)}" target="_blank">{{html App.ChooseIcon("open")}}Open (new window/tab)</a></li>
		{{if Device == "iOS" && Extension == "pdf" }}
			<li><a href="${App.ResolveUrl('~/Files/Open/' + Path, 'ghttp')}" target="_blank">{{html App.ChooseIcon("goodreader")}}Open in GoodReader™</a></li>
		{{/if}}
		{{if Device != "iOS" }}
			<li><a href="${App.ResolveUrl('~/Files/Download/' + Path)}" target="_blank">{{html App.ChooseIcon("usb")}}Download & Save</a></li>
		{{/if}}
		<li><form id="frmEmail" class="form-inline inline"><a>{{html App.ChooseIcon("email")}}Email </a><input type="email" id="txtEmail" placeholder="Email Address" class="span3 email-box" /> <input type="submit" id="btnEmail" class="btn" value="Send" /></form></li>
	</ul>
</div>