@model DocsView
@{
	if (Model.Doc == "statement-of-faith")
	{
		ViewBag.Title = "Statement of Faith";
	}
	else if (Model.Doc == "about")
	{
		ViewBag.Title = "About Us";
	}
	else if (Model.Doc == "purpose")
	{
		ViewBag.Title = "Purpose";
	}
	else if (Model.Doc == "financial-policy")
	{
		ViewBag.Title = "Financial Policy";
	}
	else if (Model.Doc == "customary-assembly-practices")
	{
		ViewBag.Title = "Customary Assembly Practices";
	}
	Layout = "~/Views/Shared/_NoAuth.cshtml";
}
@section styles {
	<style type="text/css"> .module h1 {font-size:30px !important;line-height:32px !important; margin-bottom: 10px; text-align:center;background:#777;}
	.module p, .module li {font-size:16px;line-height:22px;}</style>
	}

<div class="row">
	<div class="span12 module primary-content" id="uxContent">
		<h1>
			@if (Model.Doc == "statement-of-faith")
			{
				<text>Statement of Faith</text>
			}
			else if (Model.Doc == "about")
			{
				<text>About Us</text>
			}
			else if (Model.Doc == "purpose")
			{
				<text>Purpose</text>
			}
			else if (Model.Doc == "financial-policy")
			{
				<text>Financial Policy</text>
			}
			else if (Model.Doc == "customary-assembly-practices")
			{
				<text>Customary Assembly Practices</text>
			}
		</h1>
		<div class="scrollable">
			@if (Model.Doc == "statement-of-faith")
			{
				<ol>
					<li>THE HOLY SCRIPTURES<br /><br />
					We believe the Holy Scriptures to be the inspired Word of God, authoritative, inerrant, and God breathed (II Timothy 3:16-17; II Peter 1:20-21; Matthew 5:18; John 16:12-13).<br/><br/></li>
					<li>THE GODHEAD<br /><br />
					We believe in one triune God, existing in three persons Father, Son and Holy Spirit, eternal in being, identical in nature, equal in power and glory and having the same attributes and perfections (Deuteronomy 6:4; II Corinthians 13:14).<br/><br/></li>
					<li>THE TOTAL DEPRAVITY OF MAN<br /><br />
					We believe that man was created in the image and likeness of God but that in Adam’s sin the race fell, inherited a sinful nature, became alienated from God, and is totally unable to retrieve himself from his lost condition (Genesis 1:26-27; Romans 3:22-23; 5:12; Ephesians 2:12).<br/><br/></li>
					<li>THE PERSON AND WORK OF CHRIST<br /><br />
					We believe that the Lord Jesus Christ, the eternal Son of God, became man, without ceasing to be God, having been conceived of the Holy Spirit and born of the virgin Mary, in order that He might reveal God and redeem sinful man; that He accomplished our redemption through His spiritual death on the Cross as a substitutionary sacrifice; that our redemption is made sure to us by His literal physical resurrection from the dead (John 1:1-2, 14; Luke 1:35; Romans 3:24-25; 4:25; I Peter 1:3-5); that the Lord Jesus Christ is now in Heaven, exalted at the right hand of God, where as the High Priest for His people, He fulfills the ministry of Representative, Intercessor and Advocate (Hebrews 9:24; 7:25; Romans 8:34; I John 2:1-2).<br/><br/></li>
					<li>PERSONALITY AND WORK OF THE HOLY SPIRIT<br /><br />
					We believe that the Holy Spirit is the Third Person of the Trinity of the God-Head and that He is co-equal and co-eternal with God the Father and God the Son; He is the Person of the God-Head responsible for convicting the world of "sin, righteousness, & judgment" (John 16:8); He indwells all believers in the Church Age; He identifies (baptizes) all Believers of the Church Age into the Body of Christ; He Seals them unto the day of redemption, and, it is the duty of every believer to be Filled with the Holy Spirit (Romans 8:9; I Corinthians 12:12- 14; Ephesians 1:13-14; 5:18).<br/><br/></li>
					<li>SALVATION<br /><br />
					We believe that salvation in every dispensation is the gift of God brought to man by grace and received by personal faith in the Lord Jesus Christ whose efficacious death on the Cross provided man’s reconciliation to God (Ephesians 2:8-10; John 1:12; Ephesians 1:7).<br/><br/></li>
					<li>ETERNAL SECURITY OF BELIEVERS<br /><br />
					We believe that all believers are kept secure forever in eternal life (Romans 8:1; 38-39; John 10:27-30; I Corinthians 1:4-8).<br/><br/></li>
					<li>THE CHURCH<br /><br />
					We believe that the Church, which is now the Body and shall be the Bride of Christ, is a spiritual organism made up of all born-again persons of the Church Age irrespective of the affiliation with Christian organizations (Ephesians 1:22-23; 5:25-27; I Corinthians 12:12- 14).<br/><br/></li>
					<li>THE PERSONALITY OF SATAN<br /><br />
					We believe in the personality of Satan, who is the open and declared enemy of God and man (Job 1:6-7: Matthew 4 Isaiah 14:12-17).<br/><br/></li>
					<li>THE RAPTURE GENERATION<br /><br />
					We believe that the adumbration of the Tribulation events and conditions will be a signal to the enlightened Believer of the last days of the Church Age regarding the fact that they are in the Rapture Generation. This adumbration will key on the sign of the Fig Tree — Israel in the Land (I Corinthians 5:1-10; I Thessalonians 5:1-10).<br/><br/></li>
					<li>THE BLESSED HOPE<br /><br />
					We believe that the next great event in the fulfillment of Biblical prophecy will be the coming of the Lord Jesus in the air to receive to Himself the "dead in Christ" and believers who are "alive" at His coming, otherwise known as The Rapture and Translation of the Church (I Corinthians 15;51-57; I Thessalonians 4:13-18; Titus 2:11-14).<br/><br/></li>
					<li>THE TRIBULATION<br /><br />
					We believe that the Rapture of the Church will be followed by the fulfillment of Daniel’s Seventieth Week, the time of Jacob’s Trouble, the Great Tribulation (Daniel 9:27; Jeremiah 30:7; Matthew 24:15-21; Revelation 6:1-19,21).<br/><br/></li>
					<li>THE SECOND COMING OF CHRIST<br /><br />
					We believe that the Great Tribulation will be climaxed by the return of the Lord Jesus Christ to earth to set up His kingdom (Zechariah 14:4-11; Matthew 24:15-25; II Thessalonians 1:7- 10; Revelation 20:6).<br/><br/></li>
					<li>THE ETERNAL STATE<br /><br />
					We believe that the soul and human sp<br/><br/>irit of those who have believed in the Lord Jesus Christ for salvation do at death immediately pass into His presence, and there remain in conscious bliss until the resurrection of the body at His coming, when soul, human spirit and body reunited shall be associated with Him forever in the glory; but the souls of unbelievers remain after death in conscious misery until the final judgment of the Great White Throne at the close of the Millennium, when soul and body reunited shall be cast into the lake of fire, not to be annihilated, but to be punished with everlasting destruction from the presence of the Lord and from the glory of His power (Luke 16:19-26; 23:43; II Corinthians 5:8; Philippians 1:23; II Thessalonians 1:7-9; Jude, verses 6-7; Revelation 20:11-15).<br/><br/></li>
					<li>RESPONSIBILITY OF BELIEVERS<br /><br />
					We believe that all Believers should seek to walk in such a manner as not to bring reproach upon their Lord and Savior or on the Royal Family of God; that separation from the pleasures and practices of the influence of Evil is commanded by God (Romans 12:1-2; 14:13; II Corinthians 6:14; 7:1); that it is the obligation of every Believer to witness by life and by the Word to the truths of the Holy Scriptures and to seek to convey the Gospel to the world under the guideline of "when asked" (Acts 1:8; cf., I Peter 3:15); that it is the responsibility of all Believers to remember the priority of "open doors of communication" in their prayers (Colossians 4:18) and to support the local assembly with their material means "as the Lord has prospered them" ( I Corinthians 16:2).<br/><br/></li>
					<li>CHURCH ORDINANCES<br /><br />
					We believe that the Lord Jesus Christ instituted the Lord’s Communion Table to be celebrated regularly by all Believers until His return (Matthew 28:19-20: I Corinthians 11:23-26). We believe that Baptism is not perpetuated by commandment or example, but that it served strictly as a temporary teaching tool of Positional Truth in the pre-canon period of the Church Age.<br/><br/></li>
					<li>SOVEREIGNTY<br /><br />
					We believe that God, existing as Father, Son and Holy Spirit, is sovereign, and exercises supreme and absolute rule over all creation as a part of and consistent with the essence and attributes of deity (I Chronicles 29:11,12: Daniel 4:35; Psalms 24:1; Ephesians 1:11; I Timothy 6:15).<br/><br/></li>
					<li>FREEWILL<br /><br />
					We believe that in eternity past, simultaneous with His decision to create the universe as a manifestation of the Truth about His attributes, God included in that creation intellectual creatures. God being perfect means that His creatures and their intellectuality were perfect. This establishes the Perfect Potential — perfect creatures plus perfect intellect, plus the Omniscience of God means that He can both know and allow free choices of creatures without becoming a sadistic and ruthless creator.<br/><br/></li>
					<li>SPIRITUALITY<br /><br />
					We believe that spirituality is an absolute condition in the life of a believer in the dispensation of the Church Age wherein he is filled or controlled by the Holy Spirit. We believe that spirituality is distinct from spiritual maturity; that a believer becomes carnal through any act of mental, verbal or overt sin; and that spirituality (temporal fellowship with Christ) is restored solely by personal confession of that sin(s) to God the Father. (John 15:7- 8; II Corinthians 5:6; Galatians 5:16;.Ephesians 5:18; Romans 6:11-13; I John 1:9; I John 1:5-2:2; I Corinthians 11:30-31).<br/><br/></li>
					<li>SPIRITUAL GIFTS<br/><br/>
					We believe that God the Holy Spirit, in grace and apart from human merit, sovereignly assigns a spiritual gifted assignment in a local assembly in this dispensation. Some of the permanent spiritual gifts that exist today are: Pastor-Teacher, Administrator, Helper, Giving and Showing Mercy. We believe that temporary spiritual gifts ceased with the completion of the Canon of Scripture; some of these were: Apostle, Prophet, Evangelist, Tongues, Interpretation of Tongues, Word of Wisdom, Word of Knowledge, Salient Faith, Healing and Miracles. (I Corinthians 12,13; Ephesians 4:7-12; Romans 12:4-8)<br/><br/></li>
				</ol>
			}
			else if (Model.Doc == "about")
			{
				<p>"Rephidim" is the Hebrew term רפידים‎, (pronounced: reh-FEE-dihm) which means "refreshments or "supports." Rephidim Church is an independent Bible Church, associated with no denominational organization. The purpose of Rephidim Church is to provide teaching of Bible Doctrine from the original languages of the Christian Scriptures. Rephidim Church stands unequivocally for the historical fundamentals of the Christian faith as contained in the Holy Scriptures.</p>
				<p>The distinctive feature of Rephidim Church is in the fact that it maintains the strong conviction that Bible Doctrine teaching, as opposed to gimmicks and activity programs, strengthens Believers in coping with life, causing them to <i>"...grow in grace and knowledge of our Lord and Savior, Jesus Christ."</i> (II Peter 3:18) The method of teaching in Rephidim Church emphasizes the systematic exegesis and categorical communication of Christian Theology. All teaching and instruction is strictly based upon the literal grammatical-historical interpretation of the Hebrew, Aramaic and Greek languages in which the Scriptures were originally written. The instruction process includes examination of each "jot and tittle" (Matthew 5:18) for its specific meaning in the context. Teaching in Rephidim Church is done through monologue pulpit communication by the Pastor-Teacher. The execution of the purpose and thrust of this church is the communication of the Word of God in assembly worship.</p>
				<p>Anyone interested in instruction in Bible Doctrine, and, thereby, growing in spiritual maturity, is welcome to attend Bible classes and/or request instructional mp3 lessons and publications through the church office at 4430 Allendale Rd., Wichita Falls, Texas, 76310 or call (940) 691-1166.</p>
			}
			else if (Model.Doc == "purpose")
			{
				<p>The purpose of this Church is to present Exegetical, Categorical, Isagogical Bible teaching, standing unequivocally for the fundamentals of the Christian faith as contained in the Holy Scriptures; and through the teaching of the Word in this Church, the ordaining of Pastor- Teachers, present the gospel of the Lord Jesus Christ, both at Home and Abroad.</p>
				<p>The thrust of this Church is to make sound Bible Doctrine available to positive Believers in the Lord Jesus Christ, to the end that each might become spiritually self-sustaining, i.e., until we all <i>"...have attained the goal, because of the consistency of the doctrine and the epignwsis of the Son of God, with reference to a mature nobleman to the standard of the maturity which belongs to the fullness of Christ."</i> (Ephesians 4:13)</p>
				<p>The execution of the purpose and thrust of this Church is the daily teaching of the Word of God, Face to Face, at the Principal Place of Worship.</p>
			}
			else if (Model.Doc == "financial-policy")
			{
				<h2>NO MONEY IS REQUESTED!!!</h2><br/>
				<p>This is a grace ministry, which means that its publications are FREE to anyone. Support of this ministry is entirely dependent upon freewill offerings by believers, who are motivated through the knowledge of the importance of Bible Doctrine, to assist in the communication of the truths of the Christian Scriptures.</p>
			}
			else if (Model.Doc == "customary-assembly-practices")
			{
				<ol>
					<li>
						VISITORS<br/><br/>
						Visitors are welcome, but no one will be approached or called upon in any way. The policy is "seek and you will find, ask and it will be given." If you need assistance or information, feel free to ask any member of the assembly. If they are unable to assist, they will refer you to someone who can. We ask that you be courteous and quiet so as to not disturb the communication process.<br /><br />
					</li>
					<li>
						SEATING<br /><br />
						There are no saved seats in the auditorium. Seats marked "VISITOR SEATING" are for visitors only! Once you have been in two or three Bible Classes, move to permanent seating.<br /><br />
					</li>
					<li>
						COURTESY<br /><br />
						Prior to Bible Class beginning, you are free to talk, order recorded lessons and notes, pick up notes and get beverages — anything that will help relax you and prepare you for class.
						Once Bible Class begins, remain seated, do not talk or pass notes, use your cell phone, fidget or do anything that will distract the Pastor-Teacher or those around you who are trying to concentrate and learn.<br /><br />
					</li>
					<li>
						ASSEMBLY TIMES<br /><br />
						Bible Classes are held Sunday, Tuesday, Wednesday and Thursday.<br/><br/>
						Sunday Double Sessions: 9:45 AM - 10:45 AM, 15 minute break, 11:00 AM - 12:00 PM<br/>
						Tuesday, Wednesday, Thursday: 7:45 PM - 8:40 PM<br /><br />
					</li>
					<li>
						CHURCH STAFF OFFICE HOURS<br/><br/>
						The church is generally not open to the public except at Bible Class assembly times. If you need assistance from the Church Staff, they are generally available from 9:30 AM to 3:00 PM Monday through Friday. However, as a general rule, they are not available for assistance to the membership. If you should have a bona fide reason for calling, make your calls brief and during the above time periods. The priority of the Church Staff is to assist the Pastor-Teacher in his study. They will be glad to answer brief questions as to recorded lesson and publication order problems, referring you to appropriate individuals for specific questions.<br /><br />
					</li>
					<li>
						HELP AND ASSISTANCE<br /><br />
						The Board of Administrative Ministers functions to execute the policies of the Pastor-Teacher and to take care of the administrative needs of the assembly. This includes needs of the congregation as a whole as well as those of individuals. If you have questions or needs, talk to the appropriate administrator and not to the Pastor-Teacher about the matter. If you do not know who to ask, call the Church Office as instructed above and ask for information.<br /><br />
					</li>
					<li>
						NURSERY<br /><br />
						A nursery is provided free of charge or obligation for those attending Bible Classes. Nursery workers include volunteers who sacrifice face to face communication so that others may receive the highest and best quality and quantity of Bible Doctrine teaching. Nursery works also includes paid personnel. No one is to remain in the nursery except the children of correct age and the authorized adult(s) assigned for a specific class.<br /><br />
					</li>
					<li>
						IF THE SHOE FITS...<br /><br />
						If it appears that the Pastor-Teacher is talking to you or has been "reading your mail," he is not. This is merely the Bible Doctrine speaking to you! The Pastor- Teacher most likely knows little to nothing about your personal situation, and it is not necessary, since Bible Doctrine will eventually cover all possible circumstances anyway. In fact, the less the Pastor-Teacher knows about your situation, the more free he is to teach what the Word says without worrying about how it may apply to someone’s personal problem. This is one of the reasons for the above policy that you are to go to an Administrative Minister for help and not to the Pastor-Teacher.<br /><br />
					</li>
					<li>
						RECORDED LESSONS AND PRINTED CLASS NOTES<br /><br />
						Bible Class printed notes and charts are provided free of charge or obligation. Also, you may use the church website download to follow the class notes and charts. Recorded Lessons and Class Notes are free of charge. Should you need assistance in ordering printed materials or recorded lessons or accessing the website, feel free to ask anyone or the Communications Chairman.<br /><br />
					</li>
					<li>
						PARTICIPATION<br /><br />
						You will <b>never</b> be asked to "join," "come back," "give money" and/or you will <b>never</b> be intimidated into "staying" or "remaining as a participant" in the functions of Rephidim Church. This means that it is the policy and practice of Rephidim Church to never use any form of mind control or deceptive recruiting techniques as a means of tricking people into joining and coercing them into staying with the organization and its beliefs. Attendees and members of Rephidim Church are free to come and go as often as they so choose to participate and/or not to participate in the affairs of the church.<br /><br />
					</li>
				</ol>
			}
		</div>
	</div>
</div>