{{if ActiveTerm != null}}
	<h1 id="uxTermName">
		<ul class="toolbar">
			{{if EditRights}}
			<li><a href="#" id="btnDelete" data-id="${ActiveTerm.Id}" title="Delete Term">{{html App.ChooseIcon("delete")}}</a></li>
			<li><a href="#" id="btnAdd" class="term-add" title="Add New Term">{{html App.ChooseIcon("new")}}</a></li>
			<li><a href="#" id="btnEdit" data-id="${ActiveTerm.Id}" title="Edit Term">{{html App.ChooseIcon("edit")}}</a></li>
			{{/if}}
			<li><a href="${App.ResolveUrl('~/Glossary/Print/' + ActiveTerm.Id)}" target="_blank" title="Print This Term">{{html App.ChooseIcon("pdf")}}</a></li>
			<li><a href="${App.ResolveUrl('~/Glossary/Print/')}" target="_blank" title="Print All Terms">{{html App.ChooseIcon("pdfmulti")}}</a></li>
		</ul>
		Term: ${ActiveTerm.Term}
	</h1>
	<div id="uxDefinition" class="scrollable">
		<div class="right">
			{{if ActiveTerm.IsNew}}
				<span class="label success right">New: ${App.DateFromJson(ActiveTerm.DateCreated).format('m/d h:MM TT')}</span>
			{{else}}
				<span class="label right">Created: ${App.DateFromJson(ActiveTerm.DateCreated).format('m/d/yyyy h:MM TT')}</span>
			{{/if}}
			{{if ActiveTerm.DateModified != ActiveTerm.DateCreated}}
				{{if ActiveTerm.IsModified}}
					<br /><span class="label warning right">Modified: ${App.DateFromJson(ActiveTerm.DateModified).format('m/d h:MM TT')}</span>
				{{else}}
					<br /><span class="label right">Last Modified: ${App.DateFromJson(ActiveTerm.DateModified).format('m/d/yyyy h:MM TT')}</span>
				{{/if}}
			{{/if}}
		</div>
		{{html ActiveTerm.Definition}}
	</div>
{{else}}
	<div class='message'><div>
		<span>Select a term from the left to get started.<br/><br/>
			-or-<br/><br/>
			{{if EditRights}}
				<a href="#" class="term-add">{{html App.ChooseIcon("new")}}Add New Term</a><br />
			{{/if}}
			<a href="${App.ResolveUrl('~/Glossary/Print/')}" target="_blank" title="Print All Terms">{{html App.ChooseIcon("pdfmulti")}}View/Print PDF of All Terms</a>
		</span>
	</div></div>
{{/if}}
