<h1 id="uxTermName">
	<div class="right">
		{{if IsNew}}
			<span class="label success">New: ${App.DateFromJson(DateCreated).format('m/d h:MM TT')}</span>
		{{else}}
			<span class="label">Created: ${App.DateFromJson(DateCreated).format('m/d/yyyy h:MM TT')}</span>
		{{/if}}
		{{if DateModified != DateCreated}}
			{{if IsModified}}
				<span class="label warning">Modified: ${App.DateFromJson(DateModified).format('m/d h:MM TT')}</span>
			{{else}}
				<span class="label">Last Modified: ${App.DateFromJson(DateModified).format('m/d/yyyy h:MM TT')}</span>
			{{/if}}
		{{/if}}
	</div>
	Term: ${Term}
</h1>
<div id="uxDefinition" class="scrollable">
	{{html Definition}}
</div>