@model Web.Models.GlossaryView

@{
	ViewBag.Title = Model.ActiveTerm != null ? Model.ActiveTerm.Term + " - Glossary" : "Glossary";
	ViewBag.NavGlossary = true;
	Bundles.Reference("content/templates/glossary");
}

<div class="row">
	<div class="span5 module" id="uxList">
		<h1>
			@if (User.IsInRole("Edit")) 
			{ 
				<a href="#" id="lnkVersion" class="right">v.@Model.Version.Number</a>  
			}
			else 
			{ 
				<span class="right">v.@Model.Version.Number</span>  
			}
			@Model.Terms.Count() Terms
		</h1>
		<div class="scrollable">
			<ul id="ulTerms" class="unstyled"></ul>
		</div>			
	</div>
	<div class="span11 module" id="uxTerm"></div>
</div>

@section templates
{
	@Bundles.RenderHtmlTemplates()
}

@section scripts
{
	<script type="text/javascript">		
		$(function ()
		{
			var terms = @Html.Raw(Json.Encode(Model.Terms));
			var activeTerm = @Html.Raw(Json.Encode(Model.ActiveTerm));
			window.Glossary = new App.Glossary(terms, activeTerm);
		});
	</script>

}
