<h1 id="uxPath">${Path.substring(1).replace(/\//ig," / ")}</h1>
<div id="uxFiles" class="scrollable">
	{{if Files != null && Files.length > 0}}
		<ul class="files">
			{{each Files}}
				<li>
					<a href="#" class="file-name" title="${Name}.${Extension}" data-details="${Name}|${Extension}|${Size}|${Path}|${DateModified}">{{html App.ChooseIcon(Extension)}} ${Name}</a> 
					{{if IsNew}}<span class="label success">New: ${App.DateFromJson(DateCreated).format('m/d h:MM TT')}</span>{{/if}}
					{{if !IsNew && IsModified}}<span class="label warning">Modified: ${App.DateFromJson(DateModified).format('m/d h:MM TT')}</span>{{/if}}
					<span class="file-info right"><b>Size:</b> ${Size}, <b>Loaded:</b> ${App.DateFromJson(DateModified).format('m/d/yy h:MM TT')}</span>
				</li>
			{{/each}}
		</ul>
	{{else}}
		<div class='message'><div><span>There are no files in this directory.<br/><br/>Select a folder/subfolder from the left.</span></div></div>
	{{/if}}
</div>