<h1>File Results (${Files != null ? Files.length : 0})</h1>
<div class="scrollable">
	{{if Files != null && Files.length > 0}}
		<ul class="files">
			{{each Files}}
				<li>
					<a href="#" class="file-name" title="${Name}.${Extension}" data-details="${Name}|${Extension}|${Size}|${Path}|${DateModified}">{{html App.ChooseIcon(Extension)}} {{html App.Highlight(Name)}}</a>
					{{if IsNew}}<span class="label success">New: ${App.DateFromJson(DateCreated).format('m/d h:MM TT')}</span>{{/if}}
					{{if !IsNew && IsModified}}<span class="label warning">Modified: ${App.DateFromJson(DateModified).format('m/d h:MM TT')}</span>{{/if}}<br />
					<span class="file-info"><b>Path: </b> {{html App.Highlight(Path.replace(Name + "." + Extension, "")) }}<br /><b>Size:</b> ${Size}, <b>Loaded:</b> ${App.DateFromJson(DateModified).format('m/d/yy h:MM TT')}</span>
				</li>
			{{/each}}
		</ul>
	{{else}}
		<div class='message'><div><span>No files match the search terms.</span></div></div>
	{{/if}}
</div>