@model ContentView
@using System.Text.RegularExpressions;
<h1 id="uxPath">
	<ul class="toolbar">
		<li><a href="#" class="report-issue" data-details="Path: @Model.Path" title="Report Issue"><i class="icon-fire"></i></a></li>
		<li class="edit-rights"><a href="#" id="btnUpload" title="Add to this directory"><i class="icon-plus-sign"></i> Upload</a></li>
	</ul>
	@(Model.Path.Length == 0 ? "Home Directory" : Regex.Replace(Model.Path, "/", " / ", RegexOptions.IgnoreCase))
	<div class="subcontent clearfix none">
		<a href="#" class="right" id="btnNewFolder" title="Add new subfolder to this directory"><i class="icon-plus-sign"></i> New Folder</a>
		<p>Select a file to upload to this directory:</p>
		<form method="post" enctype="multipart/form-data" action="@(Url.Action<FilesController>(x=>x.Upload(null, null)))" style="margin:0px;">
			<input type="file" name="file" />
			<input type="hidden" name="path" value="@Model.Path" />
		</form>
	</div>
</h1>
<div id="uxFiles" class="scrollable">
	@if (Model.Files != null && Model.Files.Count() > 0)
	 {
		<ul class="lines">
			@foreach (var file in Model.Files)
			{
				Html.RenderPartial("~/Views/Files/_Result.cshtml", file);
			}
		</ul>
	}
	else
	{
		<div class='message'><div><span>There are no files in this directory.<br/><br/>Select a folder/subfolder from the left.</span></div></div>
	}
</div>