@model Web.Models.FileView

@{
	ViewBag.Title = "Files";
	ViewBag.NavFiles = true;
	Bundles.Reference("content/templates/files");
}

<div class="row">
	<div class="span7 module scrollable" id="uxFolders">
		<ul id="ulFolders" class="folders"></ul>
	</div>
	<div class="span9" id="uxContents">
	</div>
</div>

@section templates
{
	@Bundles.RenderHtmlTemplates()
}

@section scripts
{

	<script type="text/javascript">

		$(function ()
		{
			var Files = new App.Files(@Html.Raw(Json.Encode(Model.Path ?? "")));
		});
		
	</script>

}
