@model Web.Models.FileView

@{
	ViewBag.Title = "Files";
	ViewBag.NavFiles = true;
	Bundles.Reference("content/templates/files");
}

<div class="row">
	<div class="span7 module" id="uxFolders">
		<h1>All Folders</h1>
		<div class="scrollable">
			<ul id="ulFolders" class="folders"></ul>
		</div>
	</div>
	<div class="span9 module" id="uxContents"></div>
</div>

@section scripts
{

	<script type="text/javascript">

		$(function ()
		{
			var Files = new App.Files(@Html.Raw(Json.Encode(Model.Path ?? "")));
		});
		
	</script>

}
