.icon_audio\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:0px 0px;
}
.icon_binoculars\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-25px 0px;
}
.icon_bmp\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-50px 0px;
}
.icon_clock\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-75px 0px;
}
.icon_delete\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-100px 0px;
}
.icon_download\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-125px 0px;
}
.icon_edit\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-150px 0px;
}
.icon_email\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-175px 0px;
}
.icon_emaildownload\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-200px 0px;
}
.icon_favorite\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-225px 0px;
}
.icon_flow\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-250px 0px;
}
.icon_folder\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-275px 0px;
}
.icon_folderadd\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-300px 0px;
}
.icon_gif\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-325px 0px;
}
.icon_goodreader\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-350px 0px;
}
.icon_help\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-375px 0px;
}
.icon_jpg\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-400px 0px;
}
.icon_mp3\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-425px 0px;
}
.icon_open\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-450px 0px;
}
.icon_pdf\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-475px 0px;
}
.icon_pdfmulti\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-500px 0px;
}
.icon_pen\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-525px 0px;
}
.icon_play\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-550px 0px;
}
.icon_plus\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-575px 0px;
}
.icon_png\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-600px 0px;
}
.icon_report\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-625px 0px;
}
.icon_save\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-650px 0px;
}
.icon_screen\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-675px 0px;
}
.icon_search\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-700px 0px;
}
.icon_text\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-725px 0px;
}
.icon_tif\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-750px 0px;
}
.icon_unk\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-775px 0px;
}
.icon_unsub\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-800px 0px;
}
.icon_usb\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-825px 0px;
}
.icon_window\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-850px 0px;
}
.icon_windows\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-875px 0px;
}
.icon_zip\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-900px 0px;
}
.icon_zoom\.png
{
width:24px;
height:24px;
background-image:url(sprite0.png);
background-position:-925px 0px;
}
