@model HandleErrorInfo
@{
	ViewBag.Title = "System Error";
	if (Request.IsAjaxRequest())
	{
		Layout = null;
		<text>@Model.Exception.Message</text>
	}
	else
	{
		if (Request.IsAuthenticated)
		{
			Layout = "~/Views/Shared/_Auth.cshtml";
		}
		else
		{
			Layout = "~/Views/Shared/_NoAuth.cshtml";
		}

		<div class="center-align">
			<h1>Uh-oh... Something kinda bad happened.</h1>
			<p>If there's a problem, we'll get it fixed.  For for now, you can <a href="@HttpContext.Current.Request.RawUrl">try loading the page again</a> to see if it was just a temporary thing.</p>
		</div>
		<div class="module error-img"></div>
		<div id="uxException" class="none module">
			<hr />
			<pre>@Model.Exception.Message</pre>
			<hr />
			<pre style="overflow:auto;white-space:nowrap;">@Html.Raw(Model.Exception.StackTrace.Replace("\n", "<br/>"))</pre>
		</div>
	}
}
	
@section scripts
{
	@if (!Request.IsAjaxRequest())
 {
		<script type="text/javascript">
			(function ()
			{
				var first, second = false;

				$(function ()
				{
					//s = 115
					//e = 101

					$(document).on("keypress", function (event)
					{
						if (event.which == 115) first = true;

						if (first && event.which == 101) $("#uxException").show();
					});
				});
			}).call(this);
		</script>
	}
}