@{
	ViewBag.Title = "Page Not Found";
	if (Request.IsAjaxRequest())
	{
		Layout = null;
		<text>Not Found.</text>
	}
	else
	{
		if (Request.IsAuthenticated)
		{
			Layout = "~/Views/Shared/_Auth.cshtml";
		}
		else
		{
			Layout = "~/Views/Shared/_NoAuth.cshtml";
		}

		<h1>Page Not Found</h1>
		<p>Could not find the page: @ViewBag.RequestedUrl</p>
		if (ViewBag.ReferrerUrl != null)
		{
			<p>Go back to the <a href="@ViewBag.ReferrerUrl">previous page</a>.</p>
		}

		@* Error page must be longer than 512 bytes for IE and Chrome to show it. 
		   So add padding in case we're short. *@
		@(new string(' ', 512))
	}
}