@{
	ViewBag.Title = "Page Not Found";
	if (Request.IsAjaxRequest())
	{
		Layout = null;
		<text>Not Found.</text>
	}
	else
	{
		if (Request.IsAuthenticated)
		{
			Layout = "~/Views/Shared/_Auth.cshtml";
		}
		else
		{
			Layout = "~/Views/Shared/_NoAuth.cshtml";
		}

		<div class="center-align">
			<h1>Uh-oh... I can't find what you're looking for.</h1>
			<p>Could not find the page <a href="@ViewBag.RequestedUrl">@ViewBag.RequestedUrl</a>.<br />Go back to the <a href="@(ViewBag.ReferrerUrl ?? "javascript:history.back();")">previous page</a>.</p>
			</div>
		<div class="module error-img"></div>

		@* Error page must be longer than 512 bytes for IE and Chrome to show it. 
		   So add padding in case we're short. *@
		@(new string(' ', 512))
	}
}

@section styles
{
	<style type="text/css">html {overflow-y:scroll;}</style>
}