@model StaticView

@{
	ViewBag.Title = Model.Path;

	if (Model.Path.ToLowerInvariant().Contains("chrono"))
	{
		ViewBag.NavChronology = true;
	}
	else if (Model.Path.ToLowerInvariant().Contains("tape"))
	{
		ViewBag.NavTape = true;
	}

	
}

<div class="module">
	<iframe id="iframeContent" style="border:none;width:100%;" src="@Href("~/Content/static/" + @Model.Path)"></iframe>
</div>

@section scripts
{
	<script type="text/javascript">
		$(function ()
		{
			var static = new App.Static();
		});
	</script>
}