@model StaticView

@{
	ViewBag.Title = Model.Path;
	ViewBag.NavOther = true;	
}

<div class="module">
	<iframe id="iframeContent" style="border:none;width:100%;" src="@Href("~/Content/static/" + @Model.Path)"></iframe>
</div>

@section scripts
{
	<script type="text/javascript">
		$(function ()
		{
			var static = new App.Static();
		});
	</script>
}