@model Web.Models.CalendarView

@{Layout = null; var firstDayOfMonth = new DateTime(Model.Year, Model.Month, 1);}
	

<div>
	<table class="dates">
		<tr>
			<td class="day-of-weeks">Sunday</td>
			<td class="day-of-weeks">Monday</td>
			<td class="day-of-weeks">Tuesday</td>
			<td class="day-of-weeks">Wednesday</td>
			<td class="day-of-weeks">Thursday</td>
			<td class="day-of-weeks">Friday</td>
			<td class="day-of-weeks">Saturday</td>
		</tr>
			@for (int j = 1; j < DateTime.DaysInMonth(Model.Year, Model.Month) + 1; j++)
			{
				var thisDate = new DateTime(Model.Year, Model.Month, j);
				var intOfWeek = Convert.ToInt16(thisDate.DayOfWeek);
				if (j==1 || intOfWeek == 0 || intOfWeek % 7 == 0)
				{
					@:<tr style="height:30px;">
				}
				if (j == 1)
				{
					for (int k = 0; k < Convert.ToInt16(firstDayOfMonth.DayOfWeek); k++)
					{
						<td>&nbsp;</td>
					}
				}

				<td><b>@j</b>
				<br />Nursery
					<ul style="border:black 1px solid;padding:10px;" class="unstyled list-lines connected-sortable vol nursery"></ul>
					Security Inside
					<ul style="border:black 1px solid;padding:10px;" class="unstyled list-lines connected-sortable vol security security-inside"></ul>
					Security Outside
					<ul style="border:black 1px solid;padding:10px;" class="unstyled list-lines connected-sortable vol security security-outside"></ul>
					Kitchen
					<ul style="border:black 1px solid;padding:10px;" class="unstyled list-lines connected-sortable vol kitchen"></ul>
				</td>
					
				if (j==DateTime.DaysInMonth(Model.Year, Model.Month) || intOfWeek % 7 == 6)
				{
					@:</tr>
				}
			}
	</table>
</div>