@{
	ViewBag.Title = "File Parsing Utility";
}
<div class="row">
	<div class="module primary-content span12">
		<h1>File Parsing Utility</h1>
		<div>
			<form data-bind="submit: Parse">
				Use saved rules: <select data-bind="options: SavedRules, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'None, make my own', value: SavedRuleId"></select>
				<br />Or make your own:<br />
				<ul class="unstyled" data-bind="template: { name: 'tmpRules', foreach: Rules}"></ul>
				<input type="button" value="Add New Rule" data-bind="click: AddRule" /> <input type="submit" value="Parse" />
				<div>
					<textarea style="font-family:Lucida Console" data-bind="value: Source" class="span8" wrap="off" rows="20"></textarea>
					<textarea style="font-family:Lucida Console" data-bind="value: Result" class="span8" wrap="off" rows="20"></textarea>
				</div>
			</form>
		</div>
	</div>
</div>


@section scripts
{
	<script type="text/javascript">
		$(function ()
		{
			var savedRules = [
				{ Id: 1, Name: "Verse Parsing", Rules: [
					{ Expr: "(\\n(?!(\\n))|[ ]{2,}|_)", Attr: "ig", Replace: " " },
					{ Expr: "[ ]?(.*)[ ](\\d{1,3})[:;](\\d{1,3})[ ]([a-z]{1,10}|[])?[ ]+(.*)", Attr: "ig", Replace: "$1\\t$2\\t$3\\t$4\\t$5" },
					{ Expr: "  ", Attr: "ig", Replace: " " },
					{ Expr: "\\n{2,}", Attr: "ig", Replace: "\\n" },
					{ Expr: "^[A-Za-z0-9 .,]*\\t", Attr: "igm", Replace: "BOOKNO\\t" },
					{ Expr: "BRETHERN", Attr: "ig", Replace: "BRETHEREN" }
				] }
			];

			var model = {
				SavedRuleId: ko.observable(null),
				SavedRules: ko.observableArray(savedRules),
				Rules: ko.observableArray([{ Expr: "", Attr: "", Replace: ""}]),
				Source: ko.observable(""),
				Result: ko.observable(""),
				DeleteRule: function (rule)
				{
					if (!confirm("Are you sure?")) return;
					model.Rules.remove(rule);
				},
				AddRule: function ()
				{
					model.Rules.push({ Expr: "", Attr: "", Replace: "" });
				},
				Parse: function ()
				{
					var result = model.Source();
					$.each(model.Rules(), function (i, n)
					{
						var reg = new RegExp(n.Expr, n.Attr);
						result = result.replace(reg, n.Replace.replace(/\\n/g, "\n").replace(/\\t/g, "\t").replace(/\\r/g, "\r"));
					});

					model.Result(result);
				}
			};

			model.SavedRuleId.subscribe(function (val)
			{
				if (val == null)
				{
					model.Rules([{ Expr: "", Attr: "", Replace: ""}]);
				}
				else
				{
					model.Rules($.grep(model.SavedRules(), function (n) { return n.Id == val; })[0].Rules);
				}
			});

			ko.applyBindings(model);
		});
	</script>
}

@section templates
{
	<script type="text/html" id="tmpRules">
		<li>
			Expr: <input data-bind="value:Expr" type="text" class="span7" />
			Attr: <input data-bind="value:Attr" type="text" class="span2" />
			Replace: <input data-bind="value:Replace" type="text" class="span3" />
			<input type="button" value="Remove" data-bind="click: $root.DeleteRule, visible: $root.Rules().length > 1" />
		</li>
	</script>
}