@{
	ViewBag.Title = "Upload";
}

<h2>Upload File</h2>
@using (Html.BeginForm("Upload", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
	<input type="file" name="file" />
	<input type="submit" class="btn" value="Upload!" />
}

@if (ViewBag.Message != null && ViewBag.Message != "")
{ 
	<div class="alert-message">@Html.Raw(ViewBag.Message)</div>
}
