<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.37.4345.34101" />
  <package id="AspNetSprites-Core" version="0.4" />
  <package id="AspNetSprites-MvcAndRazorHelper" version="0.4" />
  <package id="elmah" version="1.2.0.1" />
  <package id="elmah.corelibrary" version="1.2.1" />
  <package id="Jurassic" version="2.1.1" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Mvc3Futures" version="3.0.20105.0" />
  <package id="MvcContrib.Mvc3-ci" version="3.0.92.0" />
  <package id="NotFoundMvc" version="1.0.0" />
  <package id="postal" version="0.7.3" />
  <package id="RazorEngine" version="3.0.8" />
  <package id="WebActivator" version="1.5" />
</packages>